  <nav th:fragment="principal-menu" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">EmpleosApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link active" href="/inicio">Inicio</a>
            </li>
          
            
            <li class="nav-item dropdown" sec:authorize="hasAnyAuthority('SUPERVISOR','ADMINISTRADOR')">
        <a class="nav-link " href="/inicio" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Entidades
        </a>
       
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <div class="dropdown-divider"></div>
          <a class="dropdown-item" th:href="@{/vacantes/crear}">Crear Vacante</a>
          <a class="dropdown-item" th:href="@{/vacantes/listarPaginate}" >Lista de Vacantes</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" th:href="@{/categorias/create}">Crear Categoria</a>
          <a class="dropdown-item" th:href="@{/categorias/listarPaginate}">Listar Categoria</a>
        </div>
      </li>
      
<!--      PARA QUE SOLO EL ADMIN TENGA ACCESO AL MENU -->
        <li class="nav-item"  sec:authorize="hasAnyAuthority('ADMINISTRADOR')">
              <a class="nav-link" th:href="@{/usuarios/listarUsuarios}">Usuarios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Menu 2</a>
            </li>
     
                      
          </ul>  
          <div sec:authorize="isAnonymous()">
          <a class="btn btn-primary" th:href="@{/inicio}">Ingresar</a>&nbsp;
          <a class="btn btn-primary" th:href="@{/singup}">Registrarse</a>&nbsp;
          </div>
<!--           OBTENER USUARIO EN SESION OLD -->
<!--           <span th:if="${session.usuario != null}" class="text-light" th:text="'En sesión: ' + ${session.usuario.username}"></span>&nbsp; -->
			<div sec:authorize="isAuthenticated()">
			<span class="text-light" >En sesión</span>&nbsp; <span class="text-light" sec:authentication="name"></span>&nbsp;
          <a class="btn btn-primary" th:href="@{/logout}">Salir</a>&nbsp;
          </div>
          
        </div>
      </nav>


